#body.detail {
	background: #f6f7f7;
}       
.detail-container, .mytrip-container{
	width: 1080px;
	margin-top: 130px;
	margin-bottom: 70px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.detail-header{
	line-height: 20px;
	position: relative;
	padding-top: 7px;
	padding-bottom: 3px;
}
.detail-header img{
	vertical-align: middle;
}
.detail-header .detail-header-name{
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
	margin-left: 3px;
}
.detail-header .detail-header-city-name{
	display: inline-block;
	font-size: 15px;
	vertical-align: middle;
	color: #909090;
}
.detail-header button{
	padding: 7px 10px;
	background-color: #4299e0;
	color: #fff;
	font-size: 14px;
	border: 0;
	position: absolute;
	top: 0;
	right: 0;
}
#detail-images{
	max-width: 100%;
	height: 400px;
	background: #000;
	margin-top: 10px;
	margin-bottom: 30px;
}
.detail-desc{
	margin-bottom: 30px;
}
.detail-title{
	font-weight: bold;
	margin-bottom: 8px;
}
.detail-desc .detail-desc-text{
	font-size: 15px;
	color: $757575;
}
.detail-container #map{
	width: 100%;
	height: 300px;
}
/*---------------------------------------½Âºó--------------------------------------------------------*/
/* È¸¿ø°¡ÀÔ */
.form-box .inner {
	padding: 60px 70px;
}

#form-register {
	font-size: 15px;
}

#inp-password {
	margin-top: 26px;
}

.div-gender {
	margin-top: 12px
}

.div-gender .txt-warning {
	margin-top: 2px
}

#inp-female {
	margin-left: 20px;
}

.div-birth {
	margin-top: 17px;
}

.div-birth .txt-warning {
	margin-top: 10px;
}

#inp-accept {
	margin-top: 30px;
}

#btn-submit {
	margin-top: 50px;
}

.overflow {
	height: 200px;
}

#btn-back {
	background-color: #A4AAB2;
}

.ui-slelctmenu-text {
	color: #505050;
	font-weight: 400;
}

.ui-state-active, .ui-widget-content .ui-state-active {
	color: #000;
}

#sel-birth-button {
	background: #fff;
	border: 1px solid #ccc;
}

.div-accept .txt-warning {
	margin-top: 27px;
}

.txt-warning{
	display: none;
	font-size: 13px;
	color: red;
	margin-top: -5px;
}


/* ·Î±×ÀÎ */
#btn-home {
	background-color: #A4AAB2;
}

.form-box.login-box input[type="text"], .form-box.login-box input[type="password"],
	.form-box.login-box button {
	width: 470px;
	height: 55px;
}

.login-box {
	width: 610px;
	height: 490px;
	background-color: #fff;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	margin: 150px auto 150px;
}

/*---------------------------------------½Âºó--------------------------------------------------------*/